.menu{
 display:flex;
 justify-content:space-between;
    
}

.grid{
 display:flex;
 flex-wrap:wrap ;   
}

.gird img{
   border: 2px solid black;
   border-radius: 50px;   
}
.origami {
  
     border-radius: 20px;
     background-color: lightblue;


     width: 310px;
     font-family:fantasy;
}